{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>هشدار</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
    {% endif %}
    

    {% if request.user.is_authenticated %}
        <p1>Welcome {{request.user.username}}</p1>

    {% else %}
        <h1>{% trans "Hello, World!" %}</h1>
    {%  endif %}
{% endblock %}