{% extends "base.html" %}
{% load static %}

{% block title %}{{object.title}} | مشاهده{% endblock title %}

{% block extra_style %}
  <!-- <link rel="stylesheet" href="{% static 'site/css/detail.css' %}"> -->
{% endblock extra_style %}


{% block content %}
      <div class="">
      <div class="row  row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="{{ object.image.url }}" alt="" class="card-img-top" width="380" height="380">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
